body {
  margin: 0; 
  padding: 0;
  min-height: 100vh;
  display: flex; 
  justify-content: center; 
}

.calculator {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  background-color: rgb(226, 255, 108);
  margin-top: 60px;
  padding: 40px 0px 40px 0px;
  width: 25vw; 
  min-height: 100px;
  gap:40px;
  border-style: solid;
  border-width: 2px;
  border-radius: 4%;
  box-shadow: 10px 10px lightpink;
}

#display {
  border-radius: 2%;
  width: 80%;
  height: 30px;
  font-size: 20px;
  box-shadow: 4px 4px rgb(127, 60, 82)
}

.numbers {
  display: flex;
  flex-wrap: wrap;
  max-width: 200px; 
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.operators {
  display: flex;
  flex-direction: column; 
  max-width: 50px; 
  gap: 15px;
  justify-content: center;
  align-items: center;
}


#buttons {
  width: 80%;
  display: flex;
  justify-content: center;
  gap: 15px;
}

button {
  width: 50px;
  height: 50px;
  font-size: 18px;
  text-align: center;
  border-radius: 20%;
  cursor: pointer;
  box-shadow: 4px 4px rgb(127, 60, 82) 
}

button:hover{
  background-color: rgb(214, 212, 209);
}

